<a href="https://colab.research.google.com/github/NNitin29/Assignment1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

create a panda dataframe (dataframe name as 'df' ) with numpy random values(4 features and 4 observations)

N.Nitin 21BCE5165

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
data = np.random.rand(4, 4) # Create NumPy array with random values

In [ ]:
df = pd.DataFrame(data, columns=['feature_1', 'feature_2', 'feature_3', 'feature_4']) ## Create Pandas dataframe

In [ ]:
print(df) #  Print the dataframe

   feature_1  feature_2  feature_3  feature_4
0   0.989712   0.558238   0.763011   0.807033
1   0.290896   0.677114   0.294791   0.603374
2   0.884397   0.554269   0.839452   0.899248
3   0.354218   0.561452   0.384121   0.389537

Rename the 'df' dataframe coloumn names to 'random values 1','random values 2','random values 3','random values 4'

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.random.rand(4, 4)

In [ ]:
df = pd.DataFrame(data, columns=['feature_1', 'feature_2', 'feature_3', 'feature_4'])

In [ ]:
df.columns = ['random values 1', 'random values 2', 'random values 3', 'random values 4']

In [ ]:
print(df)

   random values 1  random values 2  random values 3  random values 4
0         0.354295         0.036772         0.148619         0.879667
1         0.976546         0.575849         0.981046         0.979338
2         0.116335         0.205406         0.109551         0.059964
3         0.964679         0.653716         0.123887         0.627833

Find the descripive statistics of 'df' dataframe.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.random.rand(4, 4)

In [ ]:
df = pd.DataFrame(data, columns=['random values 1', 'random values 2', 'random values 3', 'random values 4'])

In [ ]:
df.describe() # Get descriptive statistics of the dataframe

       random values 1  random values 2  random values 3  random values 4
count         4.000000         4.000000         4.000000         4.000000
mean          0.535059         0.461151         0.529473         0.480725
std           0.469724         0.218255         0.197248         0.185657
min           0.053268         0.151960         0.338671         0.265009
25%           0.174716         0.386814         0.394195         0.356729
50%           0.547779         0.530055         0.498764         0.504588
75%           0.908122         0.604392         0.634042         0.628585
max           0.991410         0.632536         0.781694         0.648716

Check for the null values in 'df' and find the data type of the columns

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.random.rand(4, 4)

In [ ]:
df = pd.DataFrame(data, columns=['random values 1', 'random values 2', 'random values 3', 'random values 4'])

In [ ]:
df.isnull() # Check for null values

   random values 1  random values 2  random values 3  random values 4
0            False            False            False            False
1            False            False            False            False
2            False            False            False            False
3            False            False            False            False

In [ ]:
df.dtypes # Get datatypes of columns

random values 1    float64
random values 2    float64
random values 3    float64
random values 4    float64
dtype: object

Display 'random values 2' and 'random values 3' columns with location method and index location method

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.random.rand(4, 4)

In [ ]:
df = pd.DataFrame(data, columns=['random values 1', 'random values 2', 'random values 3', 'random values 4'])

In [ ]:
df.loc[:, ['random values 2', 'random values 3']] # Select columns by label

   random values 2  random values 3
0         0.379713         0.425145
1         0.029832         0.253054
2         0.713440         0.381603
3         0.474177         0.375389

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = np.random.rand(4, 4)

In [ ]:
df = pd.DataFrame(data, columns=['random values 1', 'random values 2', 'random values 3', 'random values 4'])

In [ ]:
df.iloc[:, 1:3] # Select columns by index number

   random values 2  random values 3
0         0.507644         0.936520
1         0.702593         0.044517
2         0.985158         0.570801
3         0.344911         0.713761